<header class="navbar navbar-expand-lg bg-light vh-100 position-sticky top-0 left-0" id="header">
  <div class="d-flex flex-column justify-content-between py-9 h-100">
    <nav
      class="navbar-nav d-flex flex-column fw-bold"
      style="font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48"
    >
      <a class="navbar-brand mb-9 ps-9" href="#">
        <img src="../assets/images/logo-ANSWER.svg" alt="" />
      </a>
      <a class="nav-link d-flex align-items-center mb-1 ps-9 pe-10 py-2 my-4" href="#" data-nav="dashboard"
        ><span class="material-symbols-outlined me-7"> insert_chart </span>Dashboard</a
      >
      <a class="nav-link d-flex align-items-center mb-1 ps-9 pe-10 py-2 my-4" href="#" data-nav="question"
        ><span class="material-symbols-outlined me-7"> forum </span>Question</a
      >
      <a
        class="nav-link d-flex align-items-center mb-1 ps-9 pe-10 py-2 my-4"
        href="../pages/assignment.html"
        data-nav="assignment"
        ><span class="material-symbols-outlined me-7"> assignment </span>Assignment</a
      >
      <a class="nav-link d-flex align-items-center mb-1 ps-9 pe-10 py-2 my-4" href="#" data-nav="course"
        ><span class="material-symbols-outlined me-7"> video_library </span>Course</a
      >
      <a
        href="../pages/admin.html"
        class="nav-link d-flex align-items-center mb-1 ps-9 pe-10 py-2 my-4"
        href="#"
        data-nav="admin"
        ><span class="material-symbols-outlined me-7"> group </span>Admin</a
      >
      <a class="nav-link d-flex align-items-center ps-9 pe-10 py-2 my-4" href="#" data-nav="settings"
        ><span class="material-symbols-outlined me-7"> settings </span>Settings</a
      >
    </nav>
    <div>
      <div class="d-flex align-items-center ps-9 pe-10">
        <img
          src="../assets/images/andychen.jpeg"
          alt=""
          class="rounded-circle me-6 object-fit-cover"
          width="40px"
          height="40px"
        />
        <div>
          <p class="fw-bold">Andy Chen</p>
          <a href="mailto:andy0401@mail.com" class="text-secondary text-decoration-none">andy0401@mail.com</a>
        </div>
      </div>
    </div>
  </div>
</header>
